<div class="">
	<div class="content" fxLayout="row"  fxLayoutGap="5px">
		<div fxFlex>
			<mat-card class="images-card">
                <mat-grid-list cols="3" gutterSize="20px" rowHeight="300px">
                   
                    <mat-grid-tile>
                        <img mat-card-image #img7 src="assets/7.jpg" alt="Ba Ineterior" (click)="selectedDesign('7.jpg')">
                       <mat-grid-tile-footer>
                           <span>kast rechts tegen muur</span>
                       </mat-grid-tile-footer>
                   </mat-grid-tile>
                    <mat-grid-tile> 
                        <img  mat-card-image #img5 src="assets/5.jpg" alt="Ba Ineterior" (click)="selectedDesign('5.jpg')" >
                        <mat-grid-tile-footer>
                            <span>kast tussen 2 muren</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile> 
                        <img mat-card-image #img6 src="assets/6.jpg" alt="Ba Ineterior" (click)="selectedDesign('6.jpg')">
                        <mat-grid-tile-footer>
                            <span>kast links tegen muur</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img mat-card-image #img1 src="assets/1.jpg" alt="Ba Ineterior" (click)="selectedDesign('1.jpg')">
                        <mat-grid-tile-footer>
                            <span>kast rechts vrij links tegen schuine wand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img mat-card-image #img4 src="assets/4.jpg" alt="Ba Ineterior" (click)="selectedDesign('4.jpg')">
                       <mat-grid-tile-footer>
                           <span>kast vrijstaand</span>
                       </mat-grid-tile-footer>
                   </mat-grid-tile>
                   <mat-grid-tile> 
                    <img mat-card-image #img3 src="assets/3.jpg" alt="Ba Ineterior" (click)="selectedDesign('3.jpg')">
                    <mat-grid-tile-footer>
                        <span>kast links vrij rechts tegen schuine wand</span>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                
                <mat-grid-tile> 
                    <img  mat-card-image #img5 src="assets/8.jpg" alt="Ba Ineterior" (click)="selectedDesign('8.jpg')" >
                    <mat-grid-tile-footer>
                        <span>kast tussen 2 muren links tegen schuine wand</span>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                    <mat-grid-tile>
                         <img mat-card-image #img2  src="assets/2.jpg" alt="Ba Ineterior" (click)="selectedDesign('2.jpg')">
                         <mat-grid-tile-footer>
                            <span>kast met schuine achterwand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                    <mat-grid-tile> 
                        <img mat-card-image #img6 src="assets/9.jpg" alt="Ba Ineterior" (click)="selectedDesign('9.jpg')">
                        <mat-grid-tile-footer>
                            <span>kast tussen 2 muren rechts tegen schuine wand</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                    

                  </mat-grid-list>
              </mat-card>
              
		</div>
		<!-- <div fxFlex="30" class="sec2">
                <mat-card >
                    <app-side-panel></app-side-panel>
                </mat-card>
		</div> -->
		

	</div>

</div>