<div class="mat-container configurator" #sharedForm>
	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="100" class="sec1" fxFlex.xs="55">
			  <mat-horizontal-stepper linear #stepper  (selectionChange)="setIndex($event)" >
				<div class="announment_text">
					<p> <mat-icon>announcement</mat-icon>
					bovenaan, Links en/of rechts wordt er altijd een uitvulstuk van 5cm voorzien. Onderaan is er steeds een plint van 10 cm. </p>
			</div>
				<mat-step  [completed]='isDesignSelected'   >
					<ng-template matStepLabel>Kastopstelling</ng-template>
					<app-first-step></app-first-step>
				  <!-- <div class="button-container" fxLayout="row" >
					  <div fxFlex='70' fxLayoutAlign="center">
						<div class="button-prev">
							<button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								<mat-icon>navigate_before</mat-icon> Vorige 
							  </button>
						  </div>
						<div class="button-next" >
							<button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								Volgende <mat-icon>navigate_next</mat-icon>
							  </button>
						</div>
					  </div>
				  </div> -->
				  
				</mat-step>

				<mat-step [stepControl]="frmStepTwo">
						<ng-template matStepLabel >Voeg afmetingen toe</ng-template>
						<app-second-step ></app-second-step>
						<div class="button-container" fxLayout="row" >
							<div fxFlex='70' fxLayoutAlign="center">
							  <div class="button-prev">
								  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
									  <mat-icon>navigate_before</mat-icon> Vorige 
									</button>
								</div>
							  <div class="button-next" >
								  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext >
									  Volgende <mat-icon>navigate_next</mat-icon>
									</button>
							  </div>
							</div>
						</div>
				</mat-step>
				  
				<mat-step [stepControl]='isAllFieldsAdded' >
					
						<ng-template matStepLabel >Kastindeling</ng-template>
						<app-third-step></app-third-step>
					
					<div class="button-container" fxLayout="row" >
						<div fxFlex='70' fxLayoutAlign="center">
						  <div class="button-prev">
							  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								  <mat-icon>navigate_before</mat-icon> Vorige 
								</button>
							</div>
						  <div class="button-next" >
							  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext >
								  Volgende <mat-icon>navigate_next</mat-icon>
								</button>
						  </div>
						</div>
					</div>
				</mat-step>

				  <mat-step [stepControl]='isAllDesignSelected'>
					  <form >
						<ng-template matStepLabel>Binnenindeling</ng-template>
						<app-fourth-step></app-fourth-step>
					</form>
					<div class="button-container" fxLayout="row" >
						<div fxFlex='70' fxLayoutAlign="center">
						  <div class="button-prev">
							  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								  <mat-icon>navigate_before</mat-icon> Vorige 
								</button>
							</div>
						  <div class="button-next" >
							  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								  Volgende <mat-icon>navigate_next</mat-icon>
								</button>
						  </div>
						</div>
					</div>
				  </mat-step>
				<mat-step [stepControl]='isColorSelected'>
					<ng-template matStepLabel> Kleuren binnenafwerking</ng-template>
					<app-fifth-step ></app-fifth-step>
					<div class="button-container" fxLayout="row" >
						<div fxFlex='70' fxLayoutAlign="center">
						  <div class="button-prev">
							  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								  <mat-icon>navigate_before</mat-icon> Vorige 
								</button>
							</div>
						  <div class="button-next" >
							  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								  Volgende <mat-icon>navigate_next</mat-icon>
								</button>
						  </div>
						</div>
					</div>
				</mat-step>
				<mat-step [stepControl]='isOuterColorSelected'>
				  <ng-template matStepLabel>Deuren en kleuren</ng-template>
				  <app-sixth-step ></app-sixth-step>
				  <div class="button-container" fxLayout="row" >
					  <div fxFlex='70' fxLayoutAlign="center">
						<div class="button-prev">
							<button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								<mat-icon>navigate_before</mat-icon> Vorige 
							  </button>
						  </div>
						<div class="button-next" >
							<button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								Volgende <mat-icon>navigate_next</mat-icon>
							  </button>
						</div>
					  </div>
				  </div>
				</mat-step>
				<mat-step [completed]='isHandleAdded' >
					<ng-template matStepLabel>Deurgrepen</ng-template>
					<app-seventh-step ></app-seventh-step>
					<div class="button-container" fxLayout="row" >
						<div fxFlex='70' fxLayoutAlign="center">
						  <div class="button-prev">
							  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								  <mat-icon>navigate_before</mat-icon> Vorige 
								</button>
							</div>
						  <div class="button-next" >
							  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								  Volgende <mat-icon>navigate_next</mat-icon>
								</button>
						  </div>
						</div>
					</div>
				  </mat-step>
				  
				  <mat-step [completed]='false' >
					<ng-template matStepLabel>Deurgrepen</ng-template>
					<app-eighth-step ></app-eighth-step>
					<!-- <div class="button-container" fxLayout="row" >
						<div fxFlex='70' fxLayoutAlign="center">
						  <div class="button-prev">
							  <button mat-raised-button aria-label="Go to next step"  matStepperPrevious>
								  <mat-icon>navigate_before</mat-icon> Vorige 
								</button>
							</div>
						  <div class="button-next" >
							  <button id="step1" mat-raised-button aria-label="Go to next step" matStepperNext>
								  Volgende <mat-icon>navigate_next</mat-icon>
								</button>
						  </div>
						</div>
					</div> -->
				  </mat-step>
			  </mat-horizontal-stepper>
		</div>
	</div> 
										<!-- Bottom Section  -->
	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="70" class="sec1" fxFlex.xs="55">
			
		</div>
		<div fxFlex="30" class="sec2">
			
		</div>

	</div>

</div>
<div class="message-box-mobile">
	<mat-card>
		<h1>Sorry! configurator works well on desktop devices </h1>
	</mat-card>
</div>