$base-color: #e78932;


.color-card-head h5{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
  }

.color-card{
    display: flex;
    display: inline-table;
    flex-wrap: wrap;
    width: 20%;
    height: 60%;
    cursor: pointer;
    background-size: cover;
    vertical-align: top;
    span mat-icon{
        float: right;
        position: absolute;
        top: 2px;
        right: 2px;
      //   margin-top: -5px;
      //   margin-right: -5px;
        opacity: 0.8;
        z-index: 999;
    }
    :hover > mat-icon{
        opacity: 1;
        z-index: 15;
    }

    .footer{
      position: absolute;
      bottom: 1px;
      width: 80%; 

      //  Hiding  
      display: none;
    }
}

.color-card{
    margin-left: 5px;
    margin-bottom: 5px;
}
.color-card:hover{
    border: 2px solid $base-color;
}

