<div class="outer-div">


<div fxLayout="row" class="color-card-head">
    <div fxFlex="50" > <h5>Egger unikleuren</h5> </div>  <div fxFlex="50">
        <h5>Egger houtdecor</h5></div>
</div>
 <div fxLayout="row" >
    <div fxFlex="50">
        <mat-card [style.background-image]="'url('+designImages[17]+')'" #imge  class="color-card"  id="imge1"  [mat-dialog-close]="17">
            <span> <mat-icon  >open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Gebroken wit</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[18]+')'" class="color-card" id="imge2"  [mat-dialog-close]="18">
            <span> <mat-icon (click)="openDialog(18)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Beige</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[19]+')'" class="color-card"  id="imge3"  [mat-dialog-close]="19">
            <span> <mat-icon (click)="openDialog(19)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Mokka</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[20]+')'" class="color-card" id="imge4" [mat-dialog-close]="20">
            <span> <mat-icon  (click)="openDialog(20)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Taupe</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[21]+')'" class="color-card"  id="imge5"  [mat-dialog-close]="21">
            <span> <mat-icon (click)="openDialog(21)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Wit</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[22]+')'" class="color-card"  id="imge6" [mat-dialog-close]="22">
            <span> <mat-icon (click)="openDialog(22)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Vergrijsde eik</mat-card-footer>
            
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[23]+')'" class="color-card" id="imge7"  [mat-dialog-close]="23">
            <span> <mat-icon (click)="openDialog(23)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Amazonia</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[24]+')'" class="color-card"  id="imge8" [mat-dialog-close]="24">
            <span> <mat-icon  (click)="openDialog(24)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Walnoot</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[25]+')'" class="color-card" id="imge9"  [mat-dialog-close]="25">
            <span> <mat-icon (click)="openDialog(25)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Zwart</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[26]+')'" class="color-card"  id="imge6" [mat-dialog-close]="26" >
            <span> <mat-icon (click)="openDialog(26)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Vergrijsde eik</mat-card-footer>
            
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[27]+')'" class="color-card" id="imge7"  [mat-dialog-close]="27">
            <span> <mat-icon (click)="openDialog(27)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Amazonia</mat-card-footer>
        </mat-card>
        
    </div>
                                                    <!--Houtstructuren-->
    <div fxFlex="50">
        <mat-card [style.background-image]="'url('+designImages[0]+')'" #imge  class="color-card"  id="imge1" [mat-dialog-close]="0">
            <span> <mat-icon (click)="openDialog(0)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Gebroken wit</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[1]+')'" class="color-card" id="imge2"  [mat-dialog-close]="1">
            <span> <mat-icon (click)="openDialog(1)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Beige</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[2]+')'" class="color-card"  id="imge3"  [mat-dialog-close]="2">
            <span> <mat-icon (click)="openDialog(2)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Mokka</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[3]+')'" class="color-card" id="imge4" [mat-dialog-close]="3">
            <span> <mat-icon  (click)="openDialog(3)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Taupe</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[4]+')'" class="color-card"  id="imge5"  [mat-dialog-close]="4">
            <span> <mat-icon (click)="openDialog(4)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Wit</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[5]+')'" class="color-card"  id="imge6" [mat-dialog-close]="5" >
            <span> <mat-icon (click)="openDialog(5)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Vergrijsde eik</mat-card-footer>
            
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[6]+')'" class="color-card" id="imge7"  [mat-dialog-close]="6">
            <span> <mat-icon (click)="openDialog(6)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Amazonia</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[7]+')'" class="color-card"  id="imge8" [mat-dialog-close]="7">
            <span> <mat-icon  (click)="openDialog(7)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Walnoot</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[8]+')'" class="color-card" id="imge9"  [mat-dialog-close]="8">
            <span> <mat-icon (click)="openDialog(8)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Zwart</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[9]+')'" class="color-card"  id="imge6" [mat-dialog-close]="9">
            <span> <mat-icon (click)="openDialog(5)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Vergrijsde eik</mat-card-footer>
            
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[10]+')'" class="color-card" id="imge7"  [mat-dialog-close]="10">
            <span> <mat-icon (click)="openDialog(6)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Amazonia</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[11]+')'" class="color-card"  id="imge8" [mat-dialog-close]="11">
            <span> <mat-icon  (click)="openDialog(7)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Walnoot</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[12]+')'" class="color-card" id="imge9"  [mat-dialog-close]="12">
            <span> <mat-icon (click)="openDialog(8)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Zwart</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[13]+')'" class="color-card"  id="imge6" [mat-dialog-close]="13" >
            <span> <mat-icon (click)="openDialog(5)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Vergrijsde eik</mat-card-footer>
            
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[14]+')'" class="color-card" id="imge7" [mat-dialog-close]="14">
            <span> <mat-icon (click)="openDialog(6)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Amazonia</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[15]+')'" class="color-card"  id="imge8" [mat-dialog-close]="15">
            <span> <mat-icon  (click)="openDialog(7)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Walnoot</mat-card-footer>
        </mat-card>
        <mat-card [style.background-image]="'url('+designImages[16]+')'" class="color-card" id="imge9"  [mat-dialog-close]="16">
            <span> <mat-icon (click)="openDialog(8)">open_in_full</mat-icon></span>
            <mat-card-footer class="footer" >Zwart</mat-card-footer>
        </mat-card>
        
    </div>
 </div>

</div>